html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}
		
 .flex-item {
    width: 300px;
    height: 42em;
    flex-grow: 1;
}

[aria-hidden="true"] {
  display: none;
  visibility: hidden;
}

.item__details--icons {
  margin: .8em;
}

.item__details--icon {
  display: inline;
}

.item__detail--icon-large {
  font-size: 1.66em;
}

@media only screen and (min-width: 481px) {
  /* Navigation */
  .menu__bar {
    text-align: center;
    margin-bottom: 1em;
  }

  .menu {
  padding: 8px;
  margin: 0px;
  }

  .menu__item {
    display: inline;
    padding: .5em;
  }

  .menu__item--link {
    padding: 8px 8px 8px 8px;
  }  
  
  /* Filters */
  .filters {
    text-align: center;
    margin-bottom: 1em;
  }

  .filter-menu {
    padding: .25em;
  }

  .filter-menu__item {
    display: inline;
    /*padding: 1em;*/
  }

  .filter-menu__input {
    height: 1.5em;
    /*width: 12em;*/
  }

  .filter-menu__button {
    clear: both;
    padding: .75em;
  }
}

@media screen and (max-width: 480px)
{
  .header__quote {
    display: none;
  }   
  
  /* Filters, Menu */
  .filter_menu,
  #main-menu ul {
          width: 100%;
          border-radius: 0;
  }
  
  .filter-menu__item,
  #main-menu li {
      position:relative;
     width:100%;
      box-sizing:border-box;
      text-align: center;
      border-top:1px solid rgba(255,255,255,0.3);
  }
  
    .filter-menu__item.full-width,
  #main-menu li.full-width {
      position: relative;
  }
  
  #main-menu li div.column {
      width: auto;
      border: none;
  }  
   
  /* Footer */ 
  .who-is__pic {
    display: none;
  }
}
		