body {
  font-family: Bellota, Geneva, sans-serif;
  background-color: #FFF;
  font-size: 20px;
}

/* Navigation */
.menu__bar {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background-color: #345D5E;
  margin-bottom: 1.5em;
}

.menu {
padding: 8px 0px;
margin: 0px;
}

.menu__item {
  display: inline;
  padding: 20px;
}

.menu__item--link {
  text-decoration: none;
  color:  #C0E2E3;
  padding: 8px 8px 8px 8px;
}

.menu__item--link:hover {
    color: #505E5E;
    background-color: #79DBDE;
}

/* Item */
.item {
  border-top: solid 20px #345D5E;
  background-color: #C0E2E3;
}

.item__detail {
  font-size: 1em;
  font-weight: bold;
}

.item__detail--title {
  font-size: 1.75em;
  color: #5DA9AB;
}

.item__detail--year {
  font-size: 1.2em;
}

.item__detail--description {
  /* nothing yet */
}

.item__detail--red-wine {
  color: DarkRed;
}

.item__detail--white-wine {
  color: LightGoldenrodYellow;
}

.item__detail--rose-wine {
  color: LightPink;
}

/*  Icons */

.item__details--icon-link {
  color: #000;
  text-decoration: none;
}

.item__details--icon-link:hover {
  color: #79DBDE;
  text-decoration: none;
}
