/* Navigation */
.menu__bar {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  background-color: #C2AFDE;
  margin-bottom: 1.5em;
}

.menu {
padding: 8px 0px;
margin: 0px;
}

.menu__item {
  display: inline;
  padding: 20px;
}

.menu__item--link {
  text-decoration: none;
  color: #D14C28;
  padding: 8px 8px 8px 8px;
}

.menu__item--link:hover {
    color: #505057;
    background-color: #FFFEE3;
}

/* Item */
.item {
  border-top: solid 20px #6D5691;
  background-color: #FFFEE3;
}

.item__detail {
  color: #505057;
  font-size: 20px;
  font-weight: bold;
}

.item__detail--title {
  font-size: 1.75em;
  color: #29630C;
}

.item__detail--description {
  /* nothing yet */
}

.item__detail--icon-large {
  padding-top: 8px;
  font-size: 35px;
}

.item__detail--red-wine {
  color: DarkRed;
}

.item__detail--white-wine {
  color: LightGoldenrodYellow;
}

.item__detail--rose-wine {
  color: LightPink;
}

.item__detail--number-circle {
  display: inline;
  background: #505057;
  color: #FFFEE3;
  text-align: center;
  font-weight: bold;
}
